<h1>Lista de Productos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha Ingreso</th>
            <th>Usuario registro</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let producto of productos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.fechaIngreso}}</td>
            <td>{{producto.nombre}}</td>
            <td>
                <button (click) = "updateProduct(producto.id)" class="btn btn-info">Actualizar</button>
            </td>
        </tr>
    </tbody>
</table>
